<!DOCTYPE html>
<html lang="en" ng-app='todo'>
<head>
  <meta charset="UTF-8">
  <title>Angular Lesson</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
  <script src="app/app.js"></script>
  <script src="app/controllers/todos.js"></script>
</head>
<body>
  <div ng-controller="todosController as todosCtrl">
    <div ng-repeat="todo in todosCtrl.todos">
      <p ng-show="!editTodo">{{$index}}{{todo}}</p>
      <button class="delete" ng-click="todosCtrl.delete($index);">X</button>
      <button class="edit" ng-click="todosCtrl.edit($index); editTodo = !editTodo">Edit Todo</button>
      <form ng-show="editTodo">
        <input type="text" name="content" ng-model="todosCtrl.content">
        <button class="new" ng-click="todosCtrl.update($index); editTodo = !editTodo">Save</button>
        <button ng-click='editTodo = !editTodo' class='cancel'>Cancel</button>
      </form>
    </div>
    <div ng-click="todosCtrl.toggleForm()">New Todo</div>
    <form ng-show="todosCtrl.formIsVisible" ng-submit="todosCtrl.create()">
      <label>content</label>
      <input type="text" name="content" ng-model="todosCtrl.content">
      <p>
        preview: {{todosCtrl.content}}
      </p>
    </form>
  </div>
</body>
</html>
